body {
    padding: 0; 
    margin: 0;
}

.card{
    padding: 3vh;
    display: flex;
    box-sizing: border-box;
    height: 19vh;
    width: 21vw;
    border: 2px solid black;
    box-shadow: 3px 7px #888888;
    margin: 2vh;
    border-radius: 5px;
    position: relative;
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 100%;
    background: #ffffff;
    justify-content: space-evenly;
}


.oval {
    box-sizing: border-box;
    width: 10vh;
    height: 14vh;
    border-radius: 50% / 50%;
    border: 1px solid black;
    margin: auto;
}

.square {
    width: 12vh;
    height: 12vh;
    border: 1px solid black;
    margin: auto;
}

.diamond {
    box-sizing: border-box;
    margin-top: 1vh;
    height: 10vh;
    width: 10vh;
    text-align: center;
    transform:rotate(45deg);
    margin: auto;
  }

.red {
    background-color: #FF6962;
}

.green {
    background-color: #77DD77;
}

.purple {
    background-color: #D2BBD4;
}


.red.open {
    background-color: white;
    border: 1px solid #FF6962;
}

.green.open {
    background-color: white;
    border: 1px solid #77DD77;
}

.purple.open {
    background-color: white;
    border: 1px solid #D2BBD4;
}


.red.stripe {
    background-image: repeating-linear-gradient(100deg, white, red 1px, red, red 1px);
}

.green.stripe {
    background-image: repeating-linear-gradient(100deg, white, green 1px, green, green 1px);

}

.purple.stripe {
    background-image: repeating-linear-gradient(100deg, white, purple 1px, purple, purple 1px);
}

.selected{
    border : 1px solid yellow;
}