body {
    background: thistle;
}

.card{
    height: 180px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 10px #888888;
<<<<<<< HEAD
    margin: 15px;
    border-radius: 5px;
    position: relative;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 660px;
    margin: 2% 0 0 20%;
}
=======
    background: white;
}



.triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}

>>>>>>> 5435ad3e748d7db966f1e183d8781324a14e31a1
